.containerCart{
    background-color: rgba(83, 83, 83, 0.582);
    height: 3.5vw;
    width: 3.5vw;
    padding: 0.2vw;
    border-radius: 300vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .containerCart img{
        width: 3vw;
    }